$color-blue1: #23303D;
$color-blue2: #233554;
$color-blue3: #035480;
$color-blue4: #035480c9;
$color-blue5: #0063FF;
$color-blue6: #008cff;
$color-blue7: #00a2ff;

$color-white1: #fff;
$color-white2: #f3f3f3;

$color-gray-50: #BBC9D0;
$color-gray-100: #B1C1C9;
$color-gray-150: #A6B9C2;
$color-gray-200: #9CB0BA;
$color-gray-300: #87A0AC;
$color-gray-400: #718F9D;
$color-gray-500: #607D8B;
$color-gray-600: #4F6773;
$color-gray-700: #607D8B;
$color-gray-750: #3F525B;
$color-gray-800: #2E3C43;
$color-gray-850: #263137;

$color-black1: rgba(0, 0, 0, 0.575);
$color-black2: rgba(0, 0, 0, 0.65);
$color-black3: rgba(0, 0, 0, 0.8);
$color-black4: rgba(0, 0, 0, 0.85);